<launch>

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find scara_cpe_moveit)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="true" />
  </include>

  <include file="$(find scara_cpe_robot)/launch/scara_cpe_bringup.launch"/>

  <!-- Run the main MoveIt executable -->
  <include file="$(find scara_cpe_moveit)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>

  <!-- Run Rviz -->
  <include file="$(find scara_cpe_moveit)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>

</launch>